@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/@ngeenx/nx-vue-svg-loaders/styles.css';

:root {
  @apply dark:bg-zinc-900 dark:text-gray-100;

  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Theme1
  --twc-theme-50: #fef9ee;
  --twc-theme-100: #fcf2d8;
  --twc-theme-200: #f8e2b0;
  --twc-theme-300: #f4cf88;
  --twc-theme-400: #edab4a;
  --twc-theme-500: #e99326;
  --twc-theme-600: #da791c;
  --twc-theme-700: #b55e19;
  --twc-theme-800: #904a1c;
  --twc-theme-900: #743e1a;
  --twc-theme-950: #3f1e0b;
}

html,
body {
  @apply h-full w-full;
}
