@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/@ngeenx/nx-vue-svg-loaders/styles.css';

:root {
  @apply dark:bg-gray-900 dark:text-gray-100;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  @apply h-full w-full;
}
